/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/elements/_elements.scss */
a, h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'sans-serif';
}

/* line 5, ../sass/elements/_elements.scss */
a {
  text-decoration: none;
}

/* line 9, ../sass/elements/_elements.scss */
body {
  margin-top: 4px;
}

/* line 1, ../sass/objects/_header.scss */
.header {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-auto-rows: 50px 50px;
  width: 100%;
  top: 0;
}
/* line 8, ../sass/objects/_header.scss */
.header .header--logo {
  grid-row: 1/3;
  background: cadetblue;
}
/* line 12, ../sass/objects/_header.scss */
.header .header--links {
  background: cyan;
  align-items: center;
}
/* line 16, ../sass/objects/_header.scss */
.header .header--signs {
  background: lightcyan;
}
/* line 19, ../sass/objects/_header.scss */
.header .header--flag {
  grid-column: 1/3;
  background: fuchsia;
  margin: 10px;
}

/* line 1, ../sass/objects/_section.scss */
.section {
  display: grid;
  grid-template-columns: 65% 35%;
}
/* line 5, ../sass/objects/_section.scss */
.section .section--featured {
  background: yellowgreen;
  text-align: center;
  border-right: 1px solid;
}
/* line 10, ../sass/objects/_section.scss */
.section .section--top-stories {
  background: lightcoral;
  text-align: center;
  padding: 150px;
}

/* line 1, ../sass/objects/_content.scss */
.content {
  display: grid;
  grid-template-columns: 50% 50%;
  background: blueviolet;
}
/* line 6, ../sass/objects/_content.scss */
.content .content__right {
  background: navajowhite;
  border-right: 1px solid;
}
/* line 11, ../sass/objects/_content.scss */
.content .content--left {
  background: lightblue;
}

/* line 1, ../sass/objects/_content-right.scss */
.content__right {
  display: grid;
}
/* line 4, ../sass/objects/_content-right.scss */
.content__right .belgium {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* line 8, ../sass/objects/_content-right.scss */
.content__right .belgium .belgium--rating {
  background: white;
}
/* line 11, ../sass/objects/_content-right.scss */
.content__right .belgium .belgium--engine {
  background: yellow;
}
/* line 15, ../sass/objects/_content-right.scss */
.content__right .opinion {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 10px;
}
/* line 21, ../sass/objects/_content-right.scss */
.content__right .news {
  padding: 15px;
  background: darkslateblue;
}
/* line 25, ../sass/objects/_content-right.scss */
.content__right .column-feature {
  display: grid;
  grid-template-columns: 30% 70%;
  background: gray;
  padding: 40px;
}
/* line 31, ../sass/objects/_content-right.scss */
.content__right .column-photo {
  display: grid;
  background: darkgrey;
  padding: 40px;
}
/* line 36, ../sass/objects/_content-right.scss */
.content__right .column-photo .column-photo--image {
  text-align: center;
}
/* line 40, ../sass/objects/_content-right.scss */
.content__right .video-gallery {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 50px;
}

/* line 47, ../sass/objects/_content-right.scss */
.content__opinions {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-gap: 10px;
}
/* line 53, ../sass/objects/_content-right.scss */
.content__opinions .content__opinions--ex {
  background: navajowhite;
  padding: 5px;
}
/* line 57, ../sass/objects/_content-right.scss */
.content__opinions .content__opinions--o {
  background: navy;
  padding: 5px;
}

/* line 1, ../sass/objects/_content-left.scss */
.content--left {
  display: grid;
}
/* line 4, ../sass/objects/_content-left.scss */
.content--left .standing {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* line 8, ../sass/objects/_content-left.scss */
.content--left .standing .standing--wc {
  background: burlywood;
  border-right: 1px solid;
}
/* line 13, ../sass/objects/_content-left.scss */
.content--left .adds {
  padding: 15px;
  background: darkslateblue;
}
/* line 18, ../sass/objects/_content-left.scss */
.content--left .content--left__subdivide {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* line 22, ../sass/objects/_content-left.scss */
.content--left .content--left__subdivide .subdivide--left {
  display: grid;
  background: burlywood;
  border-right: 1px solid;
}
/* line 27, ../sass/objects/_content-left.scss */
.content--left .content--left__subdivide .subdivide--left .subdivide {
  display: grid;
  background: wheat;
}
/* line 30, ../sass/objects/_content-left.scss */
.content--left .content--left__subdivide .subdivide--left .subdivide .space {
  background: red;
}
/* line 35, ../sass/objects/_content-left.scss */
.content--left .content--left__subdivide .subdivide--left .images-details {
  display: grid;
  background: gold;
}
/* line 42, ../sass/objects/_content-left.scss */
.content--left .content--left__subdivide .subdivide--right {
  background: brown;
}
